<h3 class="heading">About Us</h3>
<div class="card-container">
    <mat-card>
        <mat-card-content>
            <mat-card-subtitle class="dt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed a aliquid perferendis provident amet illum exercitationem? Repudiandae quae optio labore alias dignissimos ullam quo, architecto iste sequi, ipsa hic?</mat-card-subtitle>
            <br>
            <mat-card-subtitle class="dt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed a aliquid perferendis provident amet illum exercitationem? Repudiandae quae optio labore alias dignissimos ullam quo, architecto iste sequi, ipsa hic?</mat-card-subtitle>
            <br>
            <mat-card-subtitle class="dt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed a aliquid perferendis provident amet illum exercitationem? Repudiandae quae optio labore alias dignissimos ullam quo, architecto iste sequi, ipsa hic?</mat-card-subtitle>
            <br>
            <mat-card-subtitle class="dt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed a aliquid perferendis provident amet illum exercitationem? Repudiandae quae optio labore alias dignissimos ullam quo, architecto iste sequi, ipsa hic?</mat-card-subtitle>
            <br>
        </mat-card-content>
    </mat-card>
</div>