<p class="navbar-container">
  <mat-toolbar color="primary">
      <button mat-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/">
          MyApp
      </button>

      <span class="example-spacer"></span>
      <button mat-button class="example-icon" routerLink="/add">
          AddTodo
      </button>
      <button mat-button class="example-icon" routerLink="/view">
          ViewTodo
      </button>
      <button mat-button class="example-icon" routerLink="/about">
          About
      </button>
      <button mat-button class="example-icon" routerLink="/contact">
          Contact
      </button>
  </mat-toolbar>
</p>
<br><br>
<br><br>