.example-spacer {
    flex: 1 1 auto;
  }
  
  .navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Adjust the z-index as needed to ensure it's above other content */
}
